{% extends "front/base.html.twig" %}

{% block main %}

	<div class="d-flex justify-content-around ps-4 pt-3">


		{% for product in category.products | slice (0,3) %}


			<div class="card mb-3 ms-5 mt-4 d-inline-block" style="width: 18rem;">
				<img width="250px" src="{{asset('media/' ~ product.images[0].src)}}" alt="{{product.images[0].alt}}">

				<h2>
					<a href="{{path("product_show", {'id' : product.id})}}">{{product.name}}</a>
				</h2>
			</div>


		{% endfor %}
	</div>

{% endblock %}
